* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

:root {
    --fondoOscuro: #0A0A0A;
    --primario: #c6d4e1;
    --secundario: #ebe7e0;
    --fuerte: #44749d;
    --claro: #ffffff;
    --oscuro: #bdb8ad;
}

body {
    height: 100vh;
    width: 100%;
    background-color: VAR(--primario);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* ----------------------------------HEADER---------------------------------- */
header {
    background-color: var(--fondoOscuro);
    color: var(--claro);
    display: flex;
    height: 8%;
    align-items: center;
    width: 100%;
    }

header>span {
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
}

.titulo {
    font-size: 40px;
    width: 100%;
    text-align: center;
}

/* ----------------------------------GENERAL---------------------------------- */

section, .linea {
    width: 90%;
}

.bbutton {
    border: 2px solid var(--fuerte);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--fuerte);
    color: var(--claro);
    font-weight: bolder;   
}

li {
    list-style-type: none;
}

/* ----------------------------------FILTRO---------------------------------- */

.filtro {
    background-color: var(--secundario);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 5px;
}

.radioBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.inputR {
    display: none;
}

.filtroCheck {
    border: 2px solid var(--fuerte);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--claro);
    font-weight: bolder;
}

.inputR:checked+.filtroCheck {
    color: var(--claro);
    background-color: var(--fuerte);
}

/* ----------------------------------BUSQUEDA---------------------------------- */

.busqueda {
    height: 50px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.entrada {
    width: 90%;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--fuerte);
    background-color: var(--secundario);
}

/* ----------------------------------DATOS---------------------------------- */

.datos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Descripcion {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stock {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.stockInner {
    width: 30%;
    height: 120px;
    background-color: var(--secundario);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.inner {
    font-weight: bold;

}

/* ----------------------------------VENCIMIENTOS---------------------------------- */

.vto {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vtoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0A0A0A;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.vtoHeaders {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.vtoRows {
    display: flex;
    width: 100%;
    min-height: 200px;
    background-color: var(--claro);
    color: #0A0A0A;
    justify-content: center;
}

.vtoItems {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.vtoItems>ul {
    display: flex;
}

.vtoItems>li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--fuerte);
}

.tabla {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}


/* ----------------------------------LISTAS---------------------------------- */

.listaStock {
    display: none;
}

/*  *******************************RESPONSIVE*******************************  */
/*  *******************************RESPONSIVE*******************************  */
/*  *******************************RESPONSIVE*******************************  */

@media (min-width: 1024px){

    section, .linea {
        width: 80%;
    }

    .filtro {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }


    .radioBtn {
        width: 30%;
        justify-content: space-between;
    }

}